#mutant_form > div {
  padding: 0;
}
title {
  display:none;
}
h2 {
  color: #EEEEEE;
  text-align: center;
  font-size: 70px;
}
body {
    background-color: #373331;
}
head{
  background-color: #ECFFFB;
}
header {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
select {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  color:#EEEEEE;
  background-color:#00ADB5;
}

input[type='text'] {

  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  color: #393E46;
  background-color: #00ADB5;
}



input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #EEEEEE;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #EEEEEE;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #EEEEEE;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #EEEEEE;
}

li {
  background-color: #009491;
  color: white;
  margin-bottom: 15px;

}


.actions {
  float: right;
  transition: 0.3s;
  opacity: 0;
  margin-bottom: 0;
}

.student {
  border: 1px solid #ddd;
  height: 4rem;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  transition: 0.15s;
}

.student:hover .actions {
  opacity: 1;
}

.student .input-group {
  margin-bottom: 0;
}

span.student-name {
  line-height: 40px;
  padding: 1px 1px 1px 9px;
}

.student input select {
  line-height: inherit;
  padding: 0 0 0 8px;
}
